<div class="panels">
  <div class="panel panel1">
    <p>Let's</p>
    <p>Follow</p>
    <p>The Light</p>
  </div>
  <div class="panel panel2">
    <p>Find</p>
    <p>Your</p>
    <p>Way</p>
  </div>
  <div class="panel panel3">
    <p>Explore</p>
    <p>Dreams</p>
    <p>Are feasible</p>
  </div>
  <div class="panel panel4">
    <p>I watch?</p>
    <p>They</p>
    <p>Play</p>
  </div>
  <div class="panel panel5">
    <p>To</p>
    <p>Know</p>
    <p>Yourself</p>
  </div>
  <div class="panel panel6">
    <p>Seize</p>
    <p>The</p>
    <p>Day</p>
  </div>
  <div class="panel panel7">
    <p>There's a</p>
    <p>Way</p>
    <p>Where there's a will</p>
  </div>
</div>
<audio
  id="sound1"
  src="https://freesound.org/data/previews/415/415450_2112203-lq.mp3"
></audio>
<audio
  id="sound2"
  src="https://freesound.org/data/previews/423/423957_6164481-lq.mp3"
></audio>
